<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>lms</h1>
    <a href="./">Home</a>
    <a href="./aboutus">aboutus</a>
    <a href="./contact">contactus</a>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error libero sint modi quo id dolor quasi, voluptatem tenetur. Dolorem, architecto nesciunt iusto eum voluptate velit eius officia obcaecati quo sunt nam facere quia, laboriosam nemo esse amet beatae animi pariatur voluptatem minima rerum tempore impedit fuga? Voluptas laborum quos reiciendis doloribus sed voluptatum quidem? Ipsa sint, vel, autem itaque esse officia placeat a ullam exercitationem excepturi quisquam impedit inventore praesentium fugit nemo dolores eveniet quos modi. Nisi minus assumenda facere quod, modi eaque quae accusamus iste odit, eius corrupti excepturi temporibus, maiores nam fugit sed laudantium officia exercitationem fugiat voluptatibus?</p>
</body>
</html>